{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Matrimonial Website landing page design html css</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
	<div class="info">
		<span> <i class="fa fa-phone"></i> +2(11) 434 4827</span>
		<span> <i class="fa fa-envelope"></i> info@example.com</span>
	</div>
	<nav>
		<div class="logo">
			<i class="fa fa-gift"></i> Magic Fix
		</div>
		<div class="menu">
			<a href="#">Home</a>
            <a href="#">Services</a>
			<a href="#">About us</a>
			<a href="#">Stats</a>
			<!-- <a href="#">Testimonials</a> -->
			<a href="#">Login!!</a>
		</div>
	</nav>

	<div class="box">
		<h2>Register & Join our Matrimony</h2>
		<form method="post" action="{% url 'index' %}">
            <!-- include csrf_token -->
            {% csrf_token %}
            {{form}}
			<input type="submit" name="button" value="Get Started">
			<br>
		<p>By registering, you agree to our 
			<span>Terms & Conditions.</span></p>
		</form>
	</div>

	<div class="htext">
		<h1>Matrimonial Search.</h1>
	<h2>Best Matching <span>Couples</span></h2>
	<p>
		Onec Consequat Sapien Ut Leo Cursus Rhoncus. Nullam Dui Mi, Vulputate Ac Metus Semper Nullam Dui Mi. Vestibulum Ante. Morbi At Dui Nisl.
	</p>
	<br>
	<a href="#">Read more</a>

	</div>

</header>
</body>
</html>